<div class="container">
  <div id="genie"></div>
  <h1>Oops!</h1>
  <h2>Page not found</h2>
  <a class="hmBtn" href="/">Go to homepage</a>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: snow;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    text-align: center;
  }

  .hmBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(66, 135, 245, 0.8);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }

  #genie {
    background-image: url("genie12.png");
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    animation: genie-anim 2s infinite alternate;
  }

  @keyframes genie-anim {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  h1 {
    font-size: 72px;
    color: #333;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 48px;
    color: #666;
    margin-bottom: 50px;
  }

  a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  a:hover {
    background-color: #555;
  }

  /* Responsive Styles */
  @media (min-width: 1200px) {
    #genie {
      width: 300px;
      height: 450px;
    }
  }

  @media (max-width: 992px) {
    #genie {
      width: 250px;
      height: 375px;
    }
  }

  @media (max-width: 768px) {
    #genie {
      width: 200px;
      height: 300px;
    }
  }

  @media (max-width: 576px) {
    #genie {
      width: 150px;
      height: 225px;
    }
  }
</style>
