<%- include("templates/afterLoginHeader") %> 
<div style="height: 80px;"></div>
<div class="text-center">
    <img class="d-block mx-auto mb-1" src="sardarprogrammer.png" alt="" width="72" height="60" />
    <h1 class="display-5 fw-bold">The Hackstreet Boys</h1>
    <div class="col-11 mx-auto shadow-lg">
      <div class="card-group">
        <div class="card p-2">
          <img class="card-img-top rounded-3" src="jas.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Jaskirat</h5>
            <p class="fs-6 card-text">
              Hey there! As a CST student at BCIT, I've been exploring a bunch
              of programming languages and technologies like Java, Python, and
              web development. I get super excited about using my skills to
              solve real-world problems and I love working with a team. Can't
              wait to see where my coding journey takes me!
            </p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/jaskirat-singh-46b506159/" target="_blank"><button
                class="btn btn-link" type="button">Linkedin</button></a>
          </div>
        </div>
        <div class="card p-2">
          <img class="card-img-top rounded-3" src="yousuf.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Yousuf</h5>
            <p class="fs-6 card-text">
              Hey there, I'm currently a first-year CST student at BCIT. I enjoy working collaboratively in teams to tackle real-world problems using technology. My current experience includes working with JavaScript and front-end development, but I'm eager to learn and explore more programming languages as I progress - C# being on top of my list. Apart from coding, I enjoy spending time in nature, birdwatching, and capturing the beauty of wildlife through my photography.
            </p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/m-yousuf-rabani-9a509364/" target="_blank"><button class="btn btn-link"
                type="button">Linkedin</button></a>
          </div>
        </div>
        <div class="card p-2">
          <img class="card-img-top rounded-3" src="anshul.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Anshul</h5>
            <p class="fs-6 card-text">
              Hey, I'm Anshul! I'm currently enrolled in the Computer Systems Technology program at BCIT, where I'm gaining
              knowledge in the world of technology. I love photography which leads me to try flying drones and capture
              stunning aerial shots, and when I'm not behind the camera, I'm either cycling or playing my guitar. Exploring
              new places and immersing myself in different cultures are some of my favorite things to do.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" target="_blank"><button class="btn btn-link"
                type="button">Linkedin</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 80px;"></div>
    <%- include("templates/footer") %> 