<%- include("templates/header") %> 
<br>
<br>
<br>
<br>
<br>
<br>

<div class="text-center">
    <img class="d-block mx-auto mb-1" src="sardarprogrammer.png" alt="" width="72" height="60" />
    <h1 class="display-5 fw-bold">The Hackstreet Boys</h1>
    <div class="col-11 mx-auto shadow-lg">
      <div class="card-group">
        <div class="card p-2">
          <img class="card-img-top rounded-3" src="jas.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Jaskirat</h5>
            <p class="fs-6 card-text">
              Hey there! As a CST student at BCIT, I've been exploring a bunch
              of programming languages and technologies like Java, Python, and
              web development. I get super excited about using my skills to
              solve real-world problems and I love working with a team. Can't
              wait to see where my coding journey takes me!
            </p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/jaskirat-singh-46b506159/" target="_blank"><button
                class="btn btn-link" type="button">Linkedin</button></a>
          </div>
        </div>
        <div class="card p-2">
          <img class="card-img-top rounded-3" src="yousuf.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Yousuf</h5>
            <p class="fs-6 card-text">
              Hi! I am a CST student at BCIT. I enjoy working in teams and solving problems.
              I have some experience in java and c and would love to learn new languages as my career evolves.

            </p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/m-yousuf-rabani-9a509364/" target="_blank"><button class="btn btn-link"
                type="button">Linkedin</button></a>
          </div>
        </div>
        <div class="card p-2">
          <img class="card-img-top rounded-3" src="anshul.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Anshul</h5>
            <p class="fs-6 card-text">
              I'm a first term CST studen passionate about problem solving and learning about new technology.
              I have various experience with different languages, including Python, Java, C, C++, and I am always
              looking to develop my skillset!
            </p>
          </div>
          <div class="card-footer">
            <a href="#" target="_blank"><button class="btn btn-link"
                type="button">Linkedin</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
    <%- include("templates/footer") %> 