<%- include("templates/afterLoginHeader") %>
<div style="height: 100px"></div>
<div class="container py-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4 fw-bold">The MealGenie Boys</h1>
      <img
        class="d-block mx-auto mb-1"
        src="sardarprogrammer.png"
        alt=""
        width="72"
        height="60"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card mb-4 mb-md-0">
        <img
          src="jas.jpg"
          class="card-img-top"
          alt="Jaskirat"
          width="400"
          height="400"
        />
        <div class="card-body">
          <h5 class="card-title mb-0 fs-1">Jaskirat Singh</h5>
          <div class="card-text text-muted fs-3">(Full-Stack Developer)</div>
          <p class="card-text fs-5 mt-2">
            Hello! I'm a computer systems technology student at BCIT who has
            always been fascinated by the world of programming languages. From
            my early experiences with Java, I've developed a strong foundation
            in coding. In addition to my love for coding, I find great joy in
            outdoor activities like playing cricket and hiking.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 mb-md-0">
        <img src="yousuf.jpg" class="card-img-top" alt="Yousuf" />
        <div class="card-body">
          <h5 class="card-title mb-0 fs-1">Yousuf Rabani</h5>
          <div class="card-text text-muted fs-3">(Full-Stack Developer)</div>
          <p class="fs-5 card-text mt-2">
            Hey there, I'm currently a first-year CST student at BCIT. My
            current experience includes working with JavaScript and front-end
            development, but I'm eager to learn and explore more programming
            languages as I progress - C# being on top of my list. Apart from
            coding, I enjoy spending time in nature, birdwatching, and capturing
            the beauty of wildlife through my photography.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 mb-md-0">
        <img
          src="anshul.jpg"
          class="card-img-top"
          alt="Sarah"
          width="400"
          height="400"
        />
        <div class="card-body">
          <h5 class="card-title mb-0 fs-1">Anshul Gautam</h5>
          <div class="card-text text-muted fs-3">(Full-Stack Developer)</div>
          <p class="card-text fs-5 mt-2">
            Hey, I'm Anshul! I'm currently enrolled in the Computer Systems
            Technology program at BCIT, where I'm gaining knowledge in the world
            of technology. I love photography which leads me to try flying
            drones and capture stunning aerial shots, and when I'm not behind
            the camera, I'm either cycling or playing my guitar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 80px"></div>
<%- include("templates/afterLoginFooter") %>
