<%- include("templates/header") %>

<style>
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("loginPage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px); /* Adjust the blur radius as needed */
  }
  h2 {
    text-align: center;
    margin-bottom: 5rem;
  }

  .faq-title {
    background-color: rgba(66,
          135,
          245,
          0.8);    
    padding: 1rem;
    border-radius: 10px;
    color: white; /* White text color */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Slight text shadow */
  }
</style>
<div style="height: 150px"></div>
<div class="container-fluid my-5">
  <h2 class="mb-5">
    <span class="faq-title">Frequently Asked Questions</span>
  </h2>
  <div class="accordion" id="faq-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq1">
        <button
          class="accordion-button collapsed fs-4 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse1"
          aria-expanded="false"
          aria-controls="collapse1"
        >
          What is the Meal Genie app, and how does it work?
        </button>
      </h2>
      <div
        id="collapse1"
        class="accordion-collapse collapse fs-5"
        aria-labelledby="faq1"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Meal Genie is a personalized recipe app that uses advanced algorithms
          and AI to provide health-conscious foodies with new recipe suggestions
          based on their dietary preferences and cooking skills. The app helps
          users make informed and healthy food choices by providing tailored
          recipe options and ingredient suggestions.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq2">
        <button
          class="accordion-button collapsed fs-4 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse2"
          aria-expanded="false"
          aria-controls="collapse2"
        >
          Can I customize my recipes based on my dietary restrictions and
          preferences?
        </button>
      </h2>
      <div
        id="collapse2"
        class="accordion-collapse collapse fs-5"
        aria-labelledby="faq2"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Yes, Meal Genie allows users to customize their recipe suggestions
          based on their dietary preferences and restrictions, such as vegan,
          gluten-free, or low-carb.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq3">
        <button
          class="accordion-button collapsed fs-4 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse3"
          aria-expanded="false"
          aria-controls="collapse3"
        >
          Is Meal Genie free to use or does it require a subscription fee?
        </button>
      </h2>
      <div
        id="collapse3"
        class="accordion-collapse collapse fs-5"
        aria-labelledby="faq3"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Yes, Meal Genie is completely free to use and doesn't require any
          subscription. Users can download the app for free and access all of
          its features, including personalized recipe suggestions without any
          additional cost.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq4">
        <button
          class="accordion-button collapsed fs-4 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse4"
          aria-expanded="false"
          aria-controls="collapse4"
        >
          Are the recipes provided by the Meal Genie app easy to follow?
        </button>
      </h2>
      <div
        id="collapse4"
        class="accordion-collapse collapse fs-5"
        aria-labelledby="faq4"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Yes, the recipes provided by the Meal Genie app are easy to follow,
          and they include step-by-step instructions and photos to guide you
          through the cooking process.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="faq5">
        <button
          class="accordion-button collapsed fs-4 fw-bold"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse5"
          aria-expanded="false"
          aria-controls="collapse5"
        >
          How does Meal Genie ensure the accuracy of its ingredient suggestions?
        </button>
      </h2>
      <div
        id="collapse5"
        class="accordion-collapse collapse fs-5"
        aria-labelledby="faq5"
        data-bs-parent="#faq-accordion"
      >
        <div class="accordion-body">
          Meal Genie uses a combination of user feedback, nutrition data, and
          machine learning algorithms to suggest ingredients that are both
          healthy and appropriate for the selected dietary preferences. The app
          also allows users to add and remove ingredients from the suggested
          recipes based on their individual preferences and taste.
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("templates/footer") %>
