<%- include("templates/header") %>
<br />
<br />
<br />
<br />
<br />
<br />
  <div class="carousel">
    <div class="carousel-container">
      <div class="carousel-item">
        <img src="/im17.jpeg" alt="Image 1">
        <div class="carousel-caption">Healthy never tasted so good!</div>
        <div class="carousel-text">Delicious and nutritious</div>
      </div>
      <div class="carousel-item">
        <img src="/im18.jpeg" alt="Image 2">
        <div class="carousel-caption">Spicy, succulent, sensational!</div>
        <div class="carousel-text">A burst of flavors</div>
      </div>
      <div class="carousel-item">
        <img src="/im19.jpeg" alt="Image 3">
        <div class="carousel-caption">Fruits, veggies, and more</div>
        <div class="carousel-text">Nature's goodness</div>
      </div>
    </div>
    <a class="carousel-arrow prev">&lt;</a>
    <a class="carousel-arrow next">&gt;</a>
  </div>
  
  
  <div class="buttons-container">
    <button class="signup-btn" onclick="window.location.href='/signUp'">Sign Up</button>
    <button class="login-btn" onclick="window.location.href='/login'">Log In</button>
  </div>
  
  <section class="aboutus" id="About">
    <div class="aboutbox container">
      <div class="about-text">
        <h1>About Us</h1>
        <br />
        <h2>The Story of Meal Genie: From Idea to App</h2>
        <p>
          At Meal Genie, we make healthy eating easy and delicious. Our app recommends recipes based on your ingredients, saving time, money, and food waste. With video tutorials and substitutes, you'll feel confident in the kitchen. Join our foodie community and enjoy flavorful, nutritious meals. Say goodbye to waste and hello to kitchen success.
        </p>
      </div>
      <div class="about-img">
        <img src="about-photo.jpg" alt="strawberry" />
      </div>
    </div>
  </section>
  <section id="Testimonials">
    <h2 class="testimonial-title">What Our Customers Say</h2>
    <div class="testimonial-container container">
      <div class="testimonial-box">
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          "I never thought eating healthy could be so easy! Meal Genie's
          ingredient matching system and video tutorials have revolutionized the
          way I approach meal prep. I love that I can use the ingredients I
          already have on hand and still make delicious and nutritious meals. I
          highly recommend Meal Genie to anyone looking to improve their eating
          habits!"
        </p>
        <div class="customer-detail">
          <div class="customer-photo"><img src="male-photo1.jpg" alt="" /></div>
          <p class="customer-name">Jason K</p>
        </div>
      </div>

      <div class="testimonial-box">
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          "I was always intimidated by cooking and didn't know where to start.
          Meal Genie has been the perfect tool for me to learn new recipes and
          gain confidence in the kitchen. The app's ingredient matching system
          and substitute suggestions have been a lifesaver, and I love that I
          can customize the recipes to fit my taste preferences. I'm grateful to
          Meal Genie for making healthy eating accessible and enjoyable for me!"
        </p>
        <div class="customer-detail">
          <div class="customer-photo"><img src="emily.jpeg" alt="" /></div>
          <p class="customer-name">Emily T</p>
        </div>
      </div>

      <div class="testimonial-box">
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          "Meal Genie has helped me save so much money on groceries! I used to
          buy new ingredients for every recipe I wanted to try, but now I can
          input the items I already have and get creative with the recipes Meal
          Genie recommends."
        </p>
        <div class="customer-detail">
          <div class="customer-photo"><img src="male-photo3.jpg" alt="" /></div>
          <p class="customer-name">Alex M</p>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <script>

document.addEventListener("DOMContentLoaded", function() {
  const carouselItems = document.querySelectorAll(".carousel-item");
  const prevButton = document.querySelector(".prev");
  const nextButton = document.querySelector(".next");
  let currentItem = 0;

  function showItem(n) {
    carouselItems[currentItem].classList.remove("active");
    currentItem = (n + carouselItems.length) % carouselItems.length;
    carouselItems[currentItem].classList.add("active");
  }

  function showPrevItem() {
    carouselItems[currentItem].classList.add("reverse");
    setTimeout(function() {
      carouselItems[currentItem].classList.remove("reverse");
      showItem(currentItem - 1);
    }, 10);
  }

  function showNextItem() {
    carouselItems[currentItem].classList.remove("reverse");
    setTimeout(function() {
      showItem(currentItem + 1);
    }, 10);
  }

  prevButton.addEventListener("click", showPrevItem);
  nextButton.addEventListener("click", showNextItem);

  setInterval(showNextItem, 4000); // Auto slide to next item every 3 seconds

  showItem(0); // Show the first item initially
});
  </script>
  <style>

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  z-index: 1;
}

.carousel-item::before {
  content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0) 0%,
        rgba(0, 0.9, 0, 0.9) 100%
      );
}

.carousel-item {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 450px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  padding: 8px 0;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
    .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.signup-btn,
.login-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(66, 135, 245, 0.8);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}


.signup-btn:hover,
.login-btn:hover {
  background-color: #326dc4;
}

@media screen and (max-width: 768px) {
  .buttons-container {
    margin-right: 0;
  }
}
  </style>
</body>

<%- include("templates/footer") %>
