<%- include("templates/afterLoginHeader") %>
<section class="showcase-area" id="Showcase">
  <div class="showcase-container">
     <h1 class="main-title">EAT HEALTHY FOOD</h1>
     <p>Eat Healthy Food , It is good for health</p>
     <a href="search" class="btn btn-primary">Search</a>
  </div>
  
</section>

<section class="aboutus" id="About">
  <div class="aboutbox container">
      <div class="about-text">
          <h4>About Us</h4>
          <h1>The Story of Meal Genie: From Idea to App</h1>
          <p>At Meal Genie, healthy eating is easy and delicious. Our app's unique
            ingredient matching system recommends recipes based on the items you
            already have, helping you save time, money, and food waste. With video
            tutorials and ingredient substitutes, you can feel confident and
            inspired in the kitchen. Join our community of foodies and discover
            just how delicious and simple healthy eating can be.<br />
            Say goodbye to food waste and hello to a variety of flavorful and
            nutritious meals. Our video tutorial feature provides step-by-step
            instructions on how to prepare each recipe, so you can feel confident
            in the kitchen and impress your friends and family. Plus, if you're
            missing an ingredient, our app suggests suitable substitutes, so you
            can still make the recipe without having to run to the store.</p>
      </div>
      <div class="about-img">
          <img src="about-photo.jpg" alt="strawberry">
      </div>
  </div>
 
</section>

<section id="Food">
  <div class="container">
      <div class="textfood"><p>POPULAR CUISINES</p></div>
      <div class="foodbox">
          <div class="food-type fruits">
              <div class="img-container">
                  <img src="food1.jpg" alt="">
                  <div class="food-content">
                      <h1>ITALIAN</h1>
                      <a href="" class="btn btn-primary">Learn More</a>
                  </div>
              </div>


          </div>
          <div class="food-type vegetable">
              <div class="img-container">
                  <img src="food2.jpg" alt="">
                  <div class="food-content">
                      <h1>MEXICAN</h1>
                      <a href="" class="btn btn-primary">Learn More</a>
                  </div>
              </div>


          </div>
          <div class="food-type cereals">
              <div class="img-container">
                  <img src="food3.jpg" alt="">
                  <div class="food-content">
                      <h1>CHINESE</h1>
                      <a href="" class="btn btn-primary">Learn More</a>
                  </div>
              </div>


          </div>
      </div>

  </div>
  
 
</section>

<section id="Food-Menu">
  <h2 class="food-menu-heading">Trending Recipes</h2>
  <div class="food-menu-box container">
      <div class="food-menu-item">
          <div class="food-menu-image">
              <img src="food-menu1.jpg" alt="">
          </div>
          <div class="food-menu-description">
              <h2 class="food-title">Recipe Item 1</h2>
              <p class="x">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quam?</p>
          </div>
      </div>
      <div class="food-menu-item">
          <div class="food-menu-image">
              <img src="food-menu2.jpg" alt="">
          </div>
          <div class="food-menu-description">
              <h2 class="food-title">Recipe Item 2</h2>
              <p class="x">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quam?</p>
          </div>
      </div>
      <div class="food-menu-item">
          <div class="food-menu-image">
              <img src="food-menu3.jpg" alt="">
          </div>
          <div class="food-menu-description">
              <h2 class="food-title">Recipe Item 3</h2>
              <p class="x">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quam?</p>
          </div>
      </div>
      <div class="food-menu-item">
          <div class="food-menu-image">
              <img src="food-menu4.jpg" alt="">
          </div>
          <div class="food-menu-description">
              <h2 class="food-title">Recipe Item 4</h2>
              <p class="x">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quam?</p>
          </div>
      </div>
      <div class="food-menu-item">
          <div class="food-menu-image">
              <img src="food-menu5.jpg" alt="">
          </div>
          <div class="food-menu-description">
              <h2 class="food-title">Recipe Item 5</h2>
              <p class="x">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quam?</p>
          </div>
      </div>
      <div class="food-menu-item">
          <div class="food-menu-image">
              <img src="food-menu6.jpg" alt="">
          </div>
          <div class="food-menu-description">
              <h2 class="food-title">Recipe Item 6</h2>
              <p class="x">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, quam?</p>
          </div>
      </div>
  </div>
</section>


<section id="Testimonials">
  <h2 class="testimonial-title">What Our Customers Say</h2>
  <div class="testimonial-container container">
      <div class="testimonial-box">
          <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
          </div>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aut soluta, distinctio non ullam atque!</p>
          <div class="customer-detail">
              <div class="customer-photo"><img src="male-photo1.jpg" alt=""></div>
              <p class="customer-name">John Doe</p>
          </div>
      </div>

      <div class="testimonial-box">
          <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
          </div>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aut soluta, distinctio non ullam atque!</p>
          <div class="customer-detail">
              <div class="customer-photo"><img src="male-photo2.jpg" alt=""></div>
              <p class="customer-name">Athundar Kail</p>
          </div>
      </div>

      <div class="testimonial-box">
          <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
          </div>
          <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aut soluta, distinctio non ullam atque!</p>
          <div class="customer-detail">
              <div class="customer-photo"><img src="male-photo3.jpg" alt=""></div>
              <p class="customer-name">Fox Doe</p>
          </div>
      </div>
      
  </div>
</section>
<div style="height: 15px;"></div>

<!-- ###################### javascript code for smooth scrolling ################  -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
// Add smooth scrolling to all links
$("a").on('click', function(event) {

// Make sure this.hash has a value before overriding default behavior
if (this.hash !== "") {
// Prevent default anchor click behavior
event.preventDefault();

// Store hash
var hash = this.hash;

// Using jQuery's animate() method to add smooth page scroll
// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
$('html, body').animate({
  scrollTop: $(hash).offset().top
}, 800, function(){

  // Add hash (#) to URL when done scrolling (default click behavior)
  window.location.hash = hash;
});
} // End if
});
});
</script>
  <%- include("templates/footer") %> 