<%- include("templates/afterLoginHeader") %>

  <style>
    body {
      background-image: url(/signup.jpg);
      background-size: cover;
      background-position: center;
    }
  </style>

  <div style="height: 100px"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-12">
        <div class="card mt-4">
          <div class="card-body">
            <h2 class="card-title">Privacy Policy for Meal Genie</h2>
            <p class="fs-5">At Meal Genie, we are committed to protecting your privacy and ensuring the security of your
              personal information. This Privacy Policy explains how we collect, use, disclose, and protect the
              information you provide when using our meal recipe app. By using Meal Genie, you consent to the terms
              outlined in this Privacy Policy.</p>
            <h3 class="card-title">Information We Collect</h3>
            <p class="fs-4"><strong>Personal Information:</strong> When you create an account on Meal Genie, we may
              collect your name, email address, and other contact information. This information is used to personalize
              your experience and communicate important updates or changes to our services.</p>
            <p class="fs-4"><strong>Recipe Preferences:</strong> To provide you with relevant recipe recommendations, we
              may collect information about your dietary preferences, allergies, and cooking restrictions. This
              information helps us tailor the app's content to your specific needs.</p>
            <p class="fs-4"><strong>Usage Data:</strong> We may collect non-personal information about how you use Meal
              Genie, including the recipes you view, the features you use, and your interactions with the app. This data
              is used to improve our services and enhance your user experience.</p>
            <hr>
            <p class="text-center"><strong>MEAL GENIE 2023</strong></p>
            <p class="text-center">If you have any questions, please contact us at <a
                href="mailto:meal.geniebby07@gmail.com">meal.geniebby07@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 100px"></div>

  <%- include("templates/afterLoginFooter") %>