<footer class="navbar navbar-light fixed-bottom" style="background-color: #f8f8f7; width: 100%; padding-top: 10px; padding-bottom: 10px;">
  <form id="bottom-navbar" class="container-fluid justify-content-around">
    <img id="home-img" class="footerImg" src="home1.png" alt="Home" onclick="location.href='/';" style="width: 32px; height: 32px;" />
    <img id="favorites-img" class="footerImg" src="heart1.png" alt="Favorites" onclick="location.href='/favorites';" style="width: 32px; height: 32px;" />
    <img id="profile-img" class="footerImg" src="profile1.png" alt="Profile" onclick="location.href='/profile';" style="width: 32px; height: 32px;" />
  </form>
</footer>

<script>
  // Get the current URL pathname
  var path = window.location.pathname;

  // Function to update the image based on the current page
  function updateImage() {
    var favoritesImg = document.getElementById("favorites-img");
    var homeImg = document.getElementById("home-img");
    var profileImg = document.getElementById("profile-img");

    // Set the default image sources
    favoritesImg.src = "heart1.png";
    homeImg.src = "home1.png";
    profileImg.src = "profile1.png";

    // Check the current page and update the image source accordingly
    if (path === "/favorites") {
      favoritesImg.src = "heart2.png"; // Change to the desired image for the favorites page
    } else if (path === "/members") {
      homeImg.src = "home2.png"; // Change to the desired image for the home page
    } else if (path === "/profile") {
      profileImg.src = "profile2.png"; // Change to the desired image for the profile page
    }
  }

  // Call the updateImage function initially
  updateImage();
</script>
</body>
</html>
