<footer class="navbar navbar-light fixed-bottom" style="background-color: #FFFFF5; width: 100%; padding-top: 10px; padding-bottom: 10px;">
  <form id="bottom-navbar" class="container-fluid justify-content-around">
    <img class="footerImg" src="favoriteb.png" alt="Favorites" onclick="location.href='/favorites';" style="width: 32px; height: 32px;" />
    <img class="footerImg" src="homebb.png" alt="Home" onclick="location.href='/';" style="width: 32px; height: 32px;" />
    <img class="footerImg" src="profilebb.png" alt="Profile" onclick="location.href='/profile';" style="width: 32px; height: 32px;" />
  </form>
</footer>
</body>
</html>