<footer class="navbar navbar-light bg-secondary fixed-bottom color-call-cta">
  <form id="bottom-navbar" class="container-fluid justify-content-start">
    <img class="footerImg" src="back-arrow-icon.svg" class="btn color-call-cta" type="submit" onclick="history.back()" />
    <img class="footerImg" src="heart-fill.svg" class="btn color-call-cta" type="submit" onclick="location.href='/favorites';" />
    <img class="footerImg" src="home.svg" class="btn color-call-cta" type="submit" onclick="location.href='/';" />
    <img class="footerImg" src="user.svg" class="btn color-call-cta" type="submit" onclick="location.href='user.html';" />
  </form>
</footer>
</body>
</html>